@import '_fonts.scss';
@import '_variable.scss';
@import '_ui-kit.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: $TravelsRegular, $fontStandart;
  background-color: $white;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  display: inline-block;
  height: 100%;
  width: auto;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button,
input {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}


/* section-calendar */

.container {
  max-width: 1724px;
  margin: 50px auto 0 auto;
  padding: 0 20px;
}

.calendar {
  &__in {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  &__item-in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc((100% - 57px*3) / 4);
    height: auto;
    margin-bottom: 50px;
    padding: 25px 43px 39px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    transition: transform ease-in-out .5s;
  }

  &__item-date {
    margin-bottom: 19px;
    font-family: $TravelsDemiBold, $fontStandart;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $black;
  }

  &__item-logo {
    width: auto;
    height: 90px;
    margin-bottom: 15px;
  }

  &__item-ttl {
    height: 100%;
    margin-bottom: 15px;
    font-family: $TravelsDemiBold, $fontStandart;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: $black;
  }

  &__item-place {
    margin-bottom: 12px;
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: $black;
    background: url(../images/icon-place.svg) left center transparent no-repeat;
  }

  &__item-text {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $black;
  }

  &__item-link {
    margin-bottom: 25px;
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: $black;
    text-decoration: underline;
    word-break: break-all;
    background: url(../images/icon-link.svg) left center transparent no-repeat;
  }

  &__item-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__item-ticket {
    padding: 8px 20px;
    font-family: $TravelsDemiBold, $fontStandart;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $white;
    background-color: $lilacD4;
  }

  &__item-more {
    font-family: $TravelsDemiBold, $fontStandart;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $lilacD4;
    text-decoration: underline;
  }
}

/* footer */

.footer {
  background-color: $dark29;

  &__content {
    padding-top: 58px;
    padding-bottom: 35px;
  }

  &__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__list {
    width: calc((100% - 40px) / 2);
    margin-bottom: 55px;
  }

  &__logo {
    width: calc((100% - 40px) / 2);
  }

  &__item {
    margin-bottom: 25px;

    &:nth-child(2) .footer__item_heading,
    &:nth-child(3) .footer__item_heading {
      display: inline-block;
    }

    &_heading {
      font-family: $TravelsDemiBold, $fontStandart;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: $white;
    }

    &_desc {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: $white;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: $white;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__month {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__year {
    font-family: $TravelsDemiBold, $fontStandart;
    font-size: 36px;
    line-height: 43px;
    font-weight: 500;
    color: $white;
    letter-spacing: -0.05em;
  }
}

@media (max-width: 1650px) {
  .calendar {
    &__item-wrap {
      flex-direction: column;
      align-items: flex-start;
    }

    &__item-ticket {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 1350px) {
  .calendar {
    &__item-in {
      width: calc((100% - 40px*2) / 3);
    }

    &__item-ttl {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (max-width: 1024px) {
  .calendar {
    &__item-wrap {
      align-items: center;
    }

    &__item-ticket {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .calendar {
    &__item-in {
      width: calc((100% - 40px) / 2);
    }

    &__item-ttl {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .footer {
    &__list {
      width: 100%;
    }

    &__logo {
      position: absolute;
      top: 0;
      right: 0;
      opacity: .5;
    }
  }
}

@media (max-width: 540px) {
  .calendar {
    &__item-in {
      width: 100%;
    }

    &__item-ttl {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
